h2{
    color: brown;
}

body {
    background-color: rgb(252, 242, 227);
}
.parent{
    width: 500px;
    height: 500px;
    border: 3px solid blueviolet;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center
}

.child{
    width: 150px;
    height: 150px;
    background-color: rgb(33, 53, 53);
    padding: 20;
    margin: 5px;
}
.child2{
    width: 150px;
    height: 150px;
    background-color: rgb(33, 53, 53);
    padding: 20;
    margin: 5px;
}

